<!-- A filter ( 'var|type' )
performs some type of operation on the value to the left side of the pipe symbol, and
returns a new value. In this case, we are using the built-in int filter that converts a
string to an integer, defaulting to 0 when a number cannot be determined  -->

<!-- The block tags are
used to indicate overrideable areas of the page. -->

{% extends "base.html" %}

{% block content_title %} Welcome to my blog{% endblock %}

{%  block content %}
	{% if number %}
		<p>Angkamu {{ number|int }}</p>
		<ul>
			{% for i in range(number|int) %} 
				{% if i is divisibleby 2 %} <!-- http://jinja.pocoo.org/docs/
	templates/#tests. -->
					<li>{{ i }}</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% else %}
		<p>No number specified.</p>
	{% endif %}

	<p>Your name is {{ name|default('<unknown>', True) }}.</p>
{% endblock %}



<!-- Jinja2 supports a miniature programming language that can be used to perform operations on data within the context. If all we could do was print values to the context, there honestly wouldn't be too much to be excited about. Things get interesting when we combine contextual data with things such as loops and control structures -->

